button{
    border-radius: 15px;
}
.landing{
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
background: #FFCF42;
}
.landing-logo img{
    width: 312px;
    height: auto;
    background-color: #FFCF42;
    margin-left: 2%;
}
.landing .header{
    display: flex;
    position: absolute;
    right: 50px;
    top: 16px;
}
.landing .header ul
{
    display: flex;
}
.landing .header li{
    list-style: none;
    margin: 12px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
}
.header li a{
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 800;
}
.youtube-img{
    width: 40px;
    height: auto;
}

.main{
    position: relative;
    margin-top: 90px;
    height: 50%;
}
.main .abcd-text span{
    color: red;
}
.main .abcd-text{
    font-size: 40px;
    font-weight: bolder;
    font: 'Inter';
}
.main .register{
    position: absolute;    
    top: 18%;
    left: 12%;
}
.register-btn{
    width: 288px;
    height: 64px;
    background-color: black;
    color: rgb(229, 226, 226);  
    cursor: pointer;
    font-family: 'source code pro';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 200% */
    
    text-align: center;
}
.main .remote{
    position: absolute;
    /* top: -9%; */
    bottom: 20%;
    right: 15%;
}
.remote img{
    width: 400px;
    height: auto;
}
.socials{
    margin-top: 40px;
    text-align: center;
}
.socials-btn{
    width: 188px;
    height: 64px;
    background-color: black;
    color: rgb(229, 226, 226);
    
    cursor: pointer;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
text-align: center;
}